{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
{% block body %}
<div class="container">
  <div class="row">
    <div  align="center" class="col">
        <br>
      <h1>Welcome to Tejaswini's Travel Tourism and Management</h1>
        <br>
        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Asia/Istanbul</a></li>
    <li><a class="dropdown-item" href="#">Asia/kabul</a></li>
    <li><a class="dropdown-item" href="#">Asia/karachi</a></li>
  </ul>
</div>
   <br>
        <button type="button" class="btn btn-info">Submit</button>


    </div>
      <div  align="center" class="col">
        <h1>Top Vacation Destinations</h1>
          <br><br>


<br><br><br>
<center>
    <div class="d-grid gap-2 col-6 mx-auto">
<button type="button" class="btn btn-primary btn-lg">Explore More Travel Packages</button>
    </div>
    </center>
<br><br><br><br><br><br>
{% endblock %}
</html>

</body>
</html>