{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Print to console</title>
</head>
<body>
{% block body %}
<div class="container text-center">
  <div class="row">
    <div class="col order-last">
        <h1>Welcome to Tejaswini's Travels Tourism and Management</h1>
        <div>
<form method="post" action="{% url 'weatherlogic' %}">
    {% csrf_token %}
    <h5>
        <label>Enter a City name: </label>
        <input type="text" name="place">
        <br><br>
        <button type="submit" class="btn btn-success btn-lg">check the temperature</button>

    </h5>
</form>
</div>
    </div>
    <div align="center" class="col">
        <h1>Top Vacation destinations</h1>
        <br><br>
        <h1>
            {% if error_meesage %}
            <p>{{ error_message}}</p>
            {% else %}
            <p>City: {{ city }}</p>
            <p>Temperature: {{ temperature1 }} &#8451;</p>
            <p>Humidity: {{ humidity }}%</p>
            {% endif %}
        </h1>


    </div>
  </div>
</div>


{% endblock %}
</body>
</html>